// Mixins
$item-color: #6d356c;
$subitem-color: #2da19a;
$white-color: #fbfbfb;
$grey-darken: #363636;
$grey-lighten: #dddddd;

@mixin menu-item {
  color: white !important;
  background-color: $item-color !important;
  border-color: none !important;
  box-shadow: none !important;
}

@mixin menu-subitem {
    color: white !important;
    background-color: $subitem-color !important;
    border-color: $subitem-color !important;
}

// Bootstrap override styles
body {
  background-color: $grey-lighten !important;
}

main {
  margin-bottom: 200px;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand{
  & {
    float: initial !important;
    padding-top: 10px !important;
    color: $grey-darken !important;
  }

  & > img {
    width: 64px !important;
    display: inline;
  }
}

.navbar {
  background-color: $white-color !important;
}

.navbar .navbar-nav {
  & > li {
    & > a {
      color: $grey-darken !important;
      padding: 10px !important;
    }
  }

  & > .open > a,
  & > .open > a:hover,
  & > .open > a:focus,
  & > li > a:hover {
    @include menu-item;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    @include menu-item;
  }
}

.pagination {
  & > .active {
    & > a,
    & > a:hover,
    & > a:focus,
    & > a:active {
      background-color: $item-color !important;
      border-color: $item-color !important;
    }
  }

  & > li > a {
    color: $subitem-color !important;
  }
}

.footer {
  & {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: $grey-darken !important;
    padding: 3rem 0 !important;
    color: white !important;
    z-index: 100000;
  }
}

.card {
  form .label {
    color: $grey-darken !important;
  }

  & > .card-header {
    text-align: center;
    font-size: 18px;
  }
}

a {
    color: $subitem-color;
}

.module {
    & {
        margin: 50px 0;
    }

    .title {
      margin-left: 30px;
      margin-bottom: 40px;
      border-bottom: 3px solid $white-color;
    }

    .buttons > button {
      & {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & > h1 {
        text-align: center;
        text-transform: uppercase;
        color: $grey-darken;
    }

    & > .container {
        margin-top: 20px;
        background: white !important;
        padding: 30px !important;
        border-radius: 5px;
    }

    .inner-section {
      padding: 20px;
      border: 1px solid;
      border-color: $white-color;
      box-shadow: 0 0 15px 10px $white-color;
      border-radius: 5px;
    }

    .breadcrumb {
        & {
            background-color: white !important;
        }

        & > .breadcrumb-item {
            & {
                color: $grey-darken !important;
            }
        }
    }

    .table {
        margin-top: 50px;
    }

    .add-button {
        & {
            margin-top: 30px;
            @include menu-item;
            padding: 10px;
        }

        i.fa {
            margin-right: 10px;
        }
    }

    .pagination {
        margin: 20px 0 !important;

        .page-item > .page-link {
            color: $grey-darken !important;
        }

        .page-item.active > .page-link {
            color: $white-color !important;
        }
    }
}
